body{
    margin: 0;
}
.homePage{
    width: 100%;
    display: flex;
    background-color: white;
}
.main{
    width: 100%;
}
.container-fav{
    display: flex;
    flex-wrap: wrap;
}
.item-fav{
    margin-top: 10px;
    margin-left: 10px;
    width: 250px;
    height: auto;
    border: 1px solid #e5e5e5;
    box-shadow: 0 0 4px rgb(0 0 0 / 25%);
    padding: 10px;
}
.item-fav div{
    margin-bottom: 6px;
}
.item-fav div:first-child{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.item-fav div:nth-child(2){
    color: green;
}
.item-fav-details span{
    font-weight: 700;
}
.star{
    cursor: pointer;
    height: 30px;
    width: 30px;
}

@media screen and (min-width: 770px) {
    .homePage{
        position: absolute;
    }

}