.nav-container {
    height: 100vh;
    margin-right: 16px;
    background-color: #633ea5;
    width: 100px;
    color: white;
    
    
}
.selectPage{
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
.active{
    background-color:#ffce5e;
    /* background-color: ; */
}
.selectPage:active{
    text-decoration: none;
    color: #633ea5;
}
.linkNav{
    text-decoration: none;
   
}
@media screen and (max-width: 770px) {
    .nav-container{
        position: absolute;
        height: 8vh;
        width: 100%;
        bottom: 0;
        left: 0;
        display: flex;
    }
    .nav-container div{
        /* margin-right: 16px; */
        width: 100px;
    }


}